In [56]:
import pandas as pd

In [57]:
file = "Poverty_Census.csv"

In [58]:
df = pd.read_csv(file,skiprows=3)

In [59]:
df.head()

,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound.1,90% CI Upper Bound.1,...,90% CI Upper Bound.5,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6,"Poverty Estimate, Age 0-4",90% CI Lower Bound.7,90% CI Upper Bound.7,"Poverty Percent, Age 0-4",90% CI Lower Bound.8,90% CI Upper Bound.8
0,0,0,US,United States,"41,852,315","41,619,366","42,085,264",13.1,13.0,13.2,...,17.2,"61,937","61,843","62,031","3,758,704","3,714,862","3,802,546",19.5,19.3,19.7
1,1,0,AL,Alabama,"801,758","785,668","817,848",16.8,16.5,17.1,...,23.7,"49,881","49,123","50,639","73,915","69,990","77,840",26.0,24.6,27.4
2,1,1,AL,Autauga County,"7,587","6,334","8,840",13.8,11.5,16.1,...,23.9,"59,338","53,628","65,048",.,.,.,.,.,.
3,1,3,AL,Baldwin County,"21,069","17,390","24,748",9.8,8.1,11.5,...,16.9,"57,588","54,437","60,739",.,.,.,.,.,.
4,1,5,AL,Barbour County,"6,788","5,662","7,914",30.9,25.8,36.0,...,45.9,"34,382","31,157","37,607",.,.,.,.,.,.

In [60]:
Poverty_df=df.drop(columns=['State FIPS Code','Postal Code','Name','90% CI Lower Bound','90% CI Upper Bound',
                            'Poverty Percent, All Ages','90% CI Lower Bound.1','90% CI Upper Bound.1',
                            '90% CI Upper Bound.5','Median Household Income','90% CI Lower Bound.6','90% CI Upper Bound.6',
                            'Poverty Estimate, Age 0-4','90% CI Lower Bound.7','90% CI Upper Bound.7',
                            'Poverty Percent, Age 0-4','90% CI Lower Bound.8','90% CI Upper Bound.8',
                            'Poverty Estimate, Age 0-17','90% CI Lower Bound.2','90% CI Upper Bound.2',
                            'Poverty Percent, Age 0-17','90% CI Lower Bound.3','90% CI Upper Bound.3',
                            'Poverty Estimate, Age 5-17 in Families','90% CI Lower Bound.4','90% CI Upper Bound.4',
                            'Poverty Percent, Age 5-17 in Families','90% CI Lower Bound.5'])

In [61]:
Poverty_df

      County FIPS Code Poverty Estimate, All Ages
0                    0                 41,852,315
1                    0                    801,758
2                    1                      7,587
3                    3                     21,069
4                    5                      6,788
...                ...                        ...
3189                37                      3,540
3190                39                      1,443
3191                41                      2,010
3192                43                        918
3193                45                        777

[3194 rows x 2 columns]

In [62]:
df.to_csv('Poverty_1.csv')