# Forming model_daily_data Table

In [1]:
# Install Dependencies
import pandas as pd

## Import .csv Files

In [2]:
# datasets filepaths
lstm_daily_file="lstm_daily_data.csv"
lstm_rmse_file="lstm_rmse.csv"
sarimax_daily_file="sarimax_daily_data.csv"
sarimax_rmse_file="sarimax_rmse.csv"

In [3]:
# read datasets
lstm_daily=pd.read_csv(lstm_daily_file, parse_dates=['date'])
lstm_rmse=pd.read_csv(lstm_rmse_file)
sarimax_daily=pd.read_csv(sarimax_daily_file, parse_dates=['date'])
sarimax_rmse=pd.read_csv(sarimax_rmse_file)

## Combine Data

### LSTM and SARIMAX Case , Death , and Residual Data

In [4]:
lstm_daily.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14750 entries, 0 to 14749
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   14750 non-null  datetime64[ns]
 1   fips_code              14750 non-null  int64
 2   lstm_cases_predicted   14750 non-null  float64
 3   lstm_cases_residuals   14750 non-null  float64
 4   lstm_deaths_predicted  11977 non-null  float64
 5   lstm_deaths_residuals  11977 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 691.5 KB

In [5]:
lstm_daily.set_index(['date','fips_code'], inplace = True)

In [6]:
lstm_daily.head()

                      lstm_cases_predicted  lstm_cases_residuals  \
date       fips_code
2020-08-06 48001               2367.558983            -12.558983
           48003                273.651881             -0.651881
           48005               1854.659654            -99.659654
           48007                163.409716             -1.409716
           48009                 19.165098              0.834902

                      lstm_deaths_predicted  lstm_deaths_residuals
date       fips_code
2020-08-06 48001                  10.084299              -0.084299
           48003                   6.054209              -0.054209
           48005                  37.632364               0.367636
           48007                  12.128908              -0.128908
           48009                        NaN                    NaN

In [7]:
sarimax_daily.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38500 entries, 0 to 38499
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date                       38500 non-null  datetime64[ns]
 1   fips_code                  38500 non-null  int64
 2   sarimax_cases_predicted    16000 non-null  float64
 3   sarimax_cases_residuals    16000 non-null  float64
 4   sarimax_cases_forecasted   22500 non-null  float64
 5   sarimax_deaths_predicted   12992 non-null  float64
 6   sarimax_deaths_residuals   12992 non-null  float64
 7   sarimax_deaths_forecasted  18270 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 2.3 MB

In [8]:
sarimax_daily.set_index(['date','fips_code'], inplace = True)

In [9]:
sarimax_daily.head()

                      sarimax_cases_predicted  sarimax_cases_residuals  \
date       fips_code
2020-08-01 48001                  2198.498603                10.501397
           48003                   256.725013                -1.725013
           48005                  1645.382092                 1.617908
           48007                   159.579762                -6.579762
           48009                    16.970321                 3.029679

                      sarimax_cases_forecasted  sarimax_deaths_predicted  \
date       fips_code
2020-08-01 48001                           NaN                  7.961911
           48003                           NaN                  5.996621
           48005                           NaN                 31.997314
           48007                           NaN                 12.720382
           48009                           NaN                       NaN

                      sarimax_deaths_residuals  sarimax_deaths_forecasted
date       fips_code
2020-08-01 48001                      0.038089                        NaN
           48003                      0.003379                        NaN
           48005                      3.002686                        NaN
           48007                     -0.720382                        NaN
           48009                           NaN                        NaN

In [10]:
model_daily_data = lstm_daily.join(sarimax_daily, how='outer')
model_daily_data

                      lstm_cases_predicted  lstm_cases_residuals  \
date       fips_code
2020-08-01 48001                       NaN                   NaN
           48003                       NaN                   NaN
           48005                       NaN                   NaN
           48007                       NaN                   NaN
           48009                       NaN                   NaN
...                                    ...                   ...
2021-01-01 48499                       NaN                   NaN
           48501                       NaN                   NaN
           48503                       NaN                   NaN
           48505                       NaN                   NaN
           48507                       NaN                   NaN

                      lstm_deaths_predicted  lstm_deaths_residuals  \
date       fips_code
2020-08-01 48001                        NaN                    NaN
           48003                        NaN                    NaN
           48005                        NaN                    NaN
           48007                        NaN                    NaN
           48009                        NaN                    NaN
...                                     ...                    ...
2021-01-01 48499                        NaN                    NaN
           48501                        NaN                    NaN
           48503                        NaN                    NaN
           48505                        NaN                    NaN
           48507                        NaN                    NaN

                      sarimax_cases_predicted  sarimax_cases_residuals  \
date       fips_code
2020-08-01 48001                  2198.498603                10.501397
           48003                   256.725013                -1.725013
           48005                  1645.382092                 1.617908
           48007                   159.579762                -6.579762
           48009                    16.970321                 3.029679
...                                       ...                      ...
2021-01-01 48499                          NaN                      NaN
           48501                          NaN                      NaN
           48503                          NaN                      NaN
           48505                          NaN                      NaN
           48507                          NaN                      NaN

                      sarimax_cases_forecasted  sarimax_deaths_predicted  \
date       fips_code
2020-08-01 48001                           NaN                  7.961911
           48003                           NaN                  5.996621
           48005                           NaN                 31.997314
           48007                           NaN                 12.720382
           48009                           NaN                       NaN
...                                        ...                       ...
2021-01-01 48499                         784.0                       NaN
           48501                         525.0                       NaN
           48503                         703.0                       NaN
           48505                         417.0                       NaN
           48507                         582.0                       NaN

                      sarimax_deaths_residuals  sarimax_deaths_forecasted
date       fips_code
2020-08-01 48001                      0.038089                        NaN
           48003                      0.003379                        NaN
           48005                      3.002686                        NaN
           48007                     -0.720382                        NaN
           48009                           NaN                        NaN
...                                        ...                        ...
2021-01-01 48499                           NaN                       54.0
           48501                           NaN                        5.0
           48503                           NaN                        6.0
           48505                           NaN                        6.0
           48507                           NaN                       16.0

[38500 rows x 10 columns]

In [11]:
lstm_rmse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fips_code        250 non-null    int64
 1   lstm_case_rmse   250 non-null    float64
 2   lstm_death_rmse  203 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 6.0 KB

In [12]:
lstm_rmse.set_index('fips_code', inplace = True)

In [13]:
sarimax_rmse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fips_code           250 non-null    int64
 1   sarimax_case_rmse   250 non-null    float64
 2   sarimax_death_rmse  203 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 6.0 KB

In [14]:
sarimax_rmse.set_index('fips_code', inplace = True)

In [15]:
model_rmse_data = lstm_rmse.join(sarimax_rmse, how='outer')
model_rmse_data

,lstm_case_rmse,lstm_death_rmse,sarimax_case_rmse,sarimax_death_rmse
fips_code,,,,
48001,201.006246,0.920685,418.986529,14.570720
48003,7.557863,0.276380,72.897536,0.949667
48005,29.049744,1.112880,784.955019,35.818657
48007,15.764733,0.364374,56.975540,4.361095
48009,5.178137,NaN,41.761420,NaN
...,...,...,...,...
48499,7.944641,0.655776,167.591711,11.786202
48501,4.546793,0.220512,27.263382,2.970441
48503,22.341789,0.181215,103.663103,2.761654
48505,5.351933,0.254541,32.974678,2.510917
48507,7.345752,0.816742,246.865198,7.461937

## Export to CSV

In [16]:
model_daily_data.to_csv('model_daily_data.csv', index=True)

In [17]:
model_rmse_data.to_csv('model_rmse_data.csv', index=True)